
body {
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("https://live.staticflickr.com/119/257454249_3ef72696c0_b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

  
    background-color: rgba(245, 245, 245, 0.7);
    background-blend-mode: lighten;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); 
    z-index: -1;
}


.work-experiences {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}


.work-exp {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    flex: 1 1 45%;
}


.work-exp h2 {
    color: darkmagenta;
    margin-bottom: 0.5em;
}


.work-exp ul {
    margin-left: 1.5em;
    line-height: 1.5;
}


.footer {
    font-size: medium;
    margin-top: 2em;
}
